# nnhHome

## LaTeX

### Rapport
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.lof
*.log
*.out
*.run.xml
*.toc

### Diaporama
*.aux
*.log
*.nav
*.out
*.snm
*.toc

## nnhScript 
*.err
*.out
*.txt

## nnhProgram

### Directory

lib
build
BUILD
result
results
RESULT
RESULTS
DATA
inputFiles
outputFiles
bin

logs
__pycache__

### Files
*.exe
*.log
*.root
*.lcio
*.slcio
